<!DOCTYPE html>
{% load socialaccount %}
{% load static %}
<html lang="en">
<head>
	<title>{% block title %}{% endblock %}</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/login_util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/login_main.css' %}">

</head>
<body style="background-color: #666666;">

<div class="limiter">
	<div class="container-login100">
		<div class="wrap-login100">

			{% block form %}
			{% endblock %}

			<div class="login100-more" style="background-image: url({% static 'images/bg-login.webp' %});">
			</div>
		</div>
	</div>
</div>

<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/login_main.js' %}"></script>

</body>
</html>