{% extends "account/account.html" %}

{% load socialaccount %}
{% load static %}
{% block title %}Edit your account{% endblock %}

{% block form %}
<form action="{% url 'account_edit' %}" method="POST" class="login100-form validate-form">
    {% csrf_token %}
    <div class="" style="float: right;">
        <a href="{% url 'index' %}" class=""><i class="fa fa-times-circle back_button"></i></a>
    </div>
    <span class="login100-form-title p-b-43">
        Edit account: {{ username }}
    </span>

    {% if messages %}
    <div>
      <ul>
        {% for message in messages %}
        <li style="color: #a82106">{{message}}</li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}
    {{ account_form.non_field_errors | safe }}
    <p class="wrap-input100">
        <input class="input100 has-val" type="text" name="first_name" autocomplete="firstname" maxlength="100" required="" id="first_name" value="{{ first_name }}">
        <span class="focus-input100"></span>
        <span class="label-input100">First Name</span>
    </p>

    <p class="wrap-input100">
        <input class="input100 has-val" type="text" name="last_name" autocomplete="lastname" maxlength="100" required="" id="last_name" value="{{ last_name }}">
        <span class="focus-input100"></span>
        <span class="label-input100">Last Name</span>
    </p>

    <p class="wrap-input100">
        <input class="input100 has-val" type="text" name="email" autocomplete="email" maxlength="100" required="" id="email" value="{{ email }}" readonly>
        <span class="focus-input100"></span>
        <span class="label-input100">Email</span>
    </p>
    <div class="container-login100-form-btn">
        <button class="login100-form-btn" type="submit" name="action" value="edit">Submit</button>
    </div>
<!--</form>-->
<span class="d-block text-center my-4 text-muted">&mdash; To delete your account &mdash;</span>


<!--<form action="{% url 'account_edit' %}" method="POST" class="login100-form validate-form">-->
<!--    {% csrf_token %}-->
    <p class="wrap-input100">
        <input class="input100 has-val" type="text" name="confirmation" autocomplete="" maxlength="100" id="confirm_delete" value="">
        <span class="focus-input100"></span>
        <span class="label-input100">type "delete_my_account" to verify deletion</span>
    </p>
    <div class="flex-sb-m w-full p-t-3 p-b-32">
        <div class="contact100-form-checkbox">
            <input class="input-checkbox100" id="ckb1" type="checkbox" name="i_understand">
            <label class="label-checkbox100" for="ckb1">
                I understand that deleting my account is irreversible according to the <a href="{% url 'policy' %}" target="_blank" style="color: #a82106;">Privacy Policy</a>.
            </label>
        </div>

    </div>

    <div class="container-login100-form-btn">
        <button class="login100-form-btn" type="submit" name="action" value="delete">Delete</button>
    </div>
</form>
{% endblock %}