{% extends "account/account.html" %}

{% load socialaccount %}
{% load static %}
{% block title %}Confirm your email{% endblock %}

{% block form %}
{% if confirmation %}
<form action="{% url 'account_confirm_email' confirmation.key %}" method="POST" class="login100-form validate-form">
    {% csrf_token %}
    <span class="login100-form-title p-b-43">
        Confirm E-mail Address
    </span>

    {% if messages %}
    <div>
      <ul>
        {% for message in messages %}
        <li style="color: #a82106">{{message}}</li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}

    <p>Please confirm that <a href="mailto:{{ confirmation.email_address.email }}">{{ confirmation.email_address.email }}</a> is the e-mail address for user {{ confirmation.email_address.user }}.</p>

    <div class="container-login100-form-btn">
        <button class="login100-form-btn" type="submit">Confirm</button>
    </div>

</form>
{% else %}

{% url 'account_email' as email_url %}

<form action="" method="POST" class="login100-form validate-form">
    {% csrf_token %}
    <span class="login100-form-title p-b-43">
        Link expired or invalid
    </span>

    {% if messages %}
    <div>
      <ul>
        {% for message in messages %}
        <li style="color: #a82106">{{message}}</li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}

    <p>This e-mail confirmation link expired or is invalid. Please <a href="{{ email_url }}">issue a new e-mail confirmation request</a>.</p>

</form>

{% endif %}
{% endblock %}