{% extends "account/account.html" %}

{% load socialaccount %}
{% load static %}
{% block title %}Login{% endblock %}

{% block form %}
<form action="{% url 'account_login' %}" method="POST" class="login100-form validate-form">
    {% csrf_token %}
    <div class="" style="float: right;">
        <a href="{% url 'index' %}" class=""><i class="fa fa-times-circle back_button"></i></a>
    </div>
    <span class="login100-form-title p-b-43">
        Login to Yoga Space
    </span>

    {% if messages %}
    <div>
        <ul>
            {% for message in messages %}
            <li style="color: #a82106">{{message}}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
    {{ form.non_field_errors | safe }}

    <div class="login100-form-social flex-c-m">
        <a href="{% provider_login_url 'google'%}?next=/" class="login100-form-social-item flex-c-m bg3 m-r-5">
            <i class="fa fa-google" aria-hidden="true"></i>
        </a>
    </div>

    <span class="d-block text-center my-4 text-muted">&mdash; or &mdash;</span>

    <div class="container-login100-form-btn" id="sign_email_button">
        <a class="login100-form-btn" href="#">Sign in using Email</a>

    </div>
    <div id="sign_email" style="display: none;">
        <p class="wrap-input100">
            {{ form.username.errors | safe }}
            <input class="input100" type="text" name="login" autocomplete="username" maxlength="150" required="" id="id_login">
            <span class="focus-input100"></span>
            <span class="label-input100">Username or Email</span>
        </p>

        <p class="wrap-input100 validate-input" data-validate="Password is required">
            {{ form.password.errors | safe }}
            <input class="input100" type="password" name="password" autocomplete="current-password" required="" id="id_password">
            <span class="focus-input100"></span>
            <span class="label-input100">Password</span>
        </p>

        <div class="flex-sb-m w-full p-t-3 ">
            <div>
                <a href="/accounts/password/reset/" class="txt1">
                    Forgot Password?
                </a>
            </div>
        </div>

        <div class="container-login100-form-btn mt-3 mb-3">
            <button class="login100-form-btn" type="submit">Sign In</button>
        </div>

        <div class="container-login100-form-btn mt-3 mb-3">
            <a class="login100-form-btn" href="{% url 'account_signup' %}">Register an account</a>
        </div>
    </div>


</form>
{% endblock %}