{% extends "account/account.html" %}

{% load socialaccount %}
{% load static %}
{% block title %}Password reset sent{% endblock %}

{% block form %}
<form action="{% url 'account_login' %}" method="GET" class="login100-form validate-form">
    <span class="login100-form-title p-b-43">
        An email has been sent to you.
    </span>

    <div class="container-login100-form-btn">
        <button class="login100-form-btn" type="submit">Go to Sign In</button>

    </div>
</form>
{% endblock %}