{% extends "account/account.html" %}

{% load socialaccount %}
{% load static %}
{% block title %}Password reset{% endblock %}

{% block form %}
<form action="{{ action_url }}" method="POST" class="login100-form validate-form">
    {% csrf_token %}
    <span class="login100-form-title p-b-43">
        Reset password:
    </span>

    {% if messages %}
    <div>
      <ul>
        {% for message in messages %}
        <li style="color: #a82106">{{message}}</li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}

    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p>The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a></p>
    {% else %}

        <p class="wrap-input100">
            {{ form.username.errors | safe }}
            <input class="input100" type="password" name="password1" autocomplete="New Password" maxlength="150" required="" id="id_password1">
            <span class="focus-input100"></span>
            <span class="label-input100">New password:</span>
        </p>

        <p class="wrap-input100">
            {{ form.username.errors | safe }}
            <input class="input100" type="password" name="password2" autocomplete="New Password (again)" maxlength="150" required="" id="id_password2">
            <span class="focus-input100"></span>
            <span class="label-input100">Repeat password:</span>
        </p>

        <div class="container-login100-form-btn">
            <button class="login100-form-btn" type="submit">Change password</button>

        </div>
    {% endif %}
</form>
{% endblock %}