{% extends "account/account.html" %}

{% load socialaccount %}
{% load static %}
{% block title %}Request password reset{% endblock %}

{% block form %}
<form action="{% url 'account_reset_password' %}" method="POST" class="login100-form validate-form">
	{% csrf_token %}
	<span class="login100-form-title p-b-43">
		Password reset
	</span>
	{{ form.non_field_errors | safe }}
	{{ form.email.errors | safe }}
	<p class="wrap-input100">
		<input class="input100" type="text" name="email" autocomplete="username" maxlength="150" required="" id="id_email">
		<span class="focus-input100"></span>
		<span class="label-input100">Username or Email</span>
	</p>


	<div class="container-login100-form-btn">
		<button class="login100-form-btn" type="submit">Reset My Password</button>

	</div>
</form>
{% endblock %}