{% extends "account/account.html" %}

{% load socialaccount %}
{% load static %}
{% block title %}Sign up{% endblock %}

{% block form %}
<form action="{% url 'account_signup' %}" method="POST" class="login100-form validate-form">
    {% csrf_token %}
    <div class="" style="float: right;">
        <a href="{% url 'index' %}" class=""><i class="fa fa-times-circle back_button"></i></a>
    </div>
    <span class="login100-form-title p-b-43">
        Sign up to Yoga Space
    </span>

    {% if messages %}
    <div>
        <ul>
            {% for message in messages %}
            <li style="color: #a82106">{{message}}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
    {{ form.non_field_errors | safe }}
    {{ form.email.errors | safe }}
    <p class="wrap-input100">
        <input class="input100" type="email" name="email" autocomplete="email" maxlength="150" required="" id="id_email">
        <span class="focus-input100"></span>
        <span class="label-input100">Email</span>
    </p>

    {{ form.username.errors | safe }}
    <p class="wrap-input100 validate-input" data-validate="Password is required">
        <input class="input100" type="text" name="username" autocomplete="username" required="" id="id_username">
        <span class="focus-input100"></span>
        <span class="label-input100">Username</span>
    </p>
    {{ form.password1.errors | safe }}
    <p class="wrap-input100 validate-input" data-validate="Password is required">
        <input class="input100" type="password" name="password1" autocomplete="new-password" required="" id="id_password1">
        <span class="focus-input100"></span>
        <span class="label-input100">Password</span>
    </p>
    {{ form.password2.errors | safe }}
    <p class="wrap-input100 validate-input" data-validate="Password is required">
        <input class="input100" type="password" name="password2" autocomplete="new-password" required="" id="id_password2">
        <span class="focus-input100"></span>
        <span class="label-input100">Password (repeat)</span>
    </p>

    <div class="flex-sb-m w-full p-t-3 p-b-32">

        <div class="contact100-form-checkbox">
            <input class="input-checkbox100" id="ckb1" type="checkbox" name="privacy" required>
            <label class="label-checkbox100" for="ckb1">
                I have read and accepted the <a href="{% url 'policy' %}" target="_blank" style="color: #a82106;">Privacy Policy</a>
            </label>
        </div>

    </div>

    <div class="container-login100-form-btn">
        <button class="login100-form-btn" type="submit">Sign Up</button>
    </div>

    <div class="text-center p-t-46 p-b-20">
        <span class="txt2">
            or sign up using
        </span>
    </div>

    <div class="login100-form-social flex-c-m">
        <a href="#" class="login100-form-social-item flex-c-m bg1 m-r-5">
            <i class="fa fa-facebook-f" aria-hidden="true"></i>
        </a>

        <a href="{% provider_login_url 'google'%}?next=/" class="login100-form-social-item flex-c-m bg3 m-r-5">
            <i class="fa fa-google" aria-hidden="true"></i>
        </a>

    </div>
</form>
{% endblock %}