<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>

    <style type="text/css">
        @import url('https://fonts.cdnfonts.com/css/museo');
    </style>
    <style type="text/css" rel="stylesheet" media="all">
        @media only screen and (max-width: 640px) {
            .ms-header {
                display: none !important;
            }
            .ms-content {
                width: 100% !important;
                border-radius: 0;
            }
            .ms-content-body {
                padding: 30px !important;
            }
            .ms-footer {
                width: 100% !important;
            }
            .mobile-wide {
                width: 100% !important;
            }
            .info-lg {
                padding: 30px;
            }
        }
    </style>
    <!--[if mso]>
    <style type="text/css">
    body { font-family: Museo, sans-serif!important  !important; }
    td { font-family: Museo, sans-serif!important  !important; }
    td * { font-family: Museo, sans-serif!important  !important; }
    td p { font-family: Museo, sans-serif!important  !important; }
    td a { font-family: Museo, sans-serif!important  !important; }
    td span { font-family: Museo, sans-serif!important  !important; }
    td div { font-family: Museo, sans-serif!important  !important; }
    td ul li { font-family: Museo, sans-serif!important  !important; }
    td ol li { font-family: Museo, sans-serif!important  !important; }
    td blockquote { font-family: Museo, sans-serif!important  !important; }
    th * { font-family: Museo, sans-serif!important  !important; }
    </style>
    <![endif]-->
</head>
<body style="font-family:'Museo', sans-serif; width: 100% !important; height: 100%; margin: 0; padding: 0; -webkit-text-size-adjust: none; background-color: #f4f7fa; color: #4a5566;" >

<div class="preheader" style="display:none !important;visibility:hidden;mso-hide:all;font-size:1px;line-height:1px;max-height:0;max-width:0;opacity:0;overflow:hidden;" ></div>

<table class="ms-body" width="100%" cellpadding="0" cellspacing="0" role="presentation" style="border-collapse:collapse;background-color:#f4f7fa;width:100%;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;" >
    <tr>
        <td align="center" style="word-break:break-word;font-family:'Museo', sans-serif;font-size:16px;line-height:24px;" >

            <table class="ms-container" width="100%" cellpadding="0" cellspacing="0" style="border-collapse:collapse;width:100%;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;" >
                <tr>
                    <td align="center" style="word-break:break-word;font-family:'Museo', sans-serif;font-size:16px;line-height:24px;" >

                        <table class="ms-header" width="100%" cellpadding="0" cellspacing="0" style="border-collapse:collapse;" >
                            <tr>
                                <td height="40" style="font-size:0px;line-height:0px;word-break:break-word;font-family:'Museo', sans-serif;" >
                                    &nbsp;
                                </td>
                            </tr>
                        </table>

                    </td>
                </tr>
                <tr>
                    <td align="center" style="word-break:break-word;font-family:'Museo', sans-serif;font-size:16px;line-height:24px;" >

                        <table class="ms-content" width="640" cellpadding="0" cellspacing="0" role="presentation" style="border-collapse:collapse;width:640px;margin-top:0;margin-bottom:0;margin-right:auto;margin-left:auto;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;background-color:#FFFFFF;border-radius:6px;box-shadow:0 3px 6px 0 rgba(0,0,0,.05);" >
                            <tr>
                                <td class="ms-content-body" style="word-break:break-word;font-family:'Museo', sans-serif;font-size:16px;line-height:24px;padding-top:40px;padding-bottom:40px;padding-right:50px;padding-left:50px;" >

                                    <p class="logo" style="margin-right:0;margin-left:0;line-height:28px;font-weight:600;font-size:21px;color:#111111;text-align:center;margin-top:0;margin-bottom:40px;" >
<!--                                        <span style="color:#0052e2;font-family:Museo, sans-serif;font-size:30px;vertical-align:bottom;" >❖&nbsp;</span>-->
                                        Yogaspace
                                    </p>

                                    {% block content %}
                                    {% endblock %}

                                    <p style="color:#4a5566;margin-top:20px;margin-bottom:20px;margin-right:0;margin-left:0;font-size:16px;line-height:28px;" >Cheers,
                                        <br>The {{current_site.name}} Team</p>

                                    <table width="100%" style="border-collapse:collapse;" >
                                        <tr>
                                            <td height="20" style="font-size:0px;line-height:0px;word-break:break-word;font-family:'Inter', Museo, sans-serif;" >
                                                &nbsp;
                                            </td>
                                        </tr>
                                        <tr>
                                            <td height="20" style="font-size:0px;line-height:0px;border-top-width:1px;border-top-style:solid;border-top-color:#e2e8f0;word-break:break-word;font-family:'Inter', Museo, sans-serif;" >
                                                &nbsp;
                                            </td>
                                        </tr>
                                    </table>

                                    {% block footer %}
                                    {% endblock %}

                                    <p class="small" style="color:#4a5566;margin-top:20px;margin-bottom:20px;margin-right:0;margin-left:0;font-size:14px;line-height:21px;" >If you have any questions about this email, simply reply to this email or reach out to our <a href="mailto:Lorenz from yogaspace<lorenz@yogaspace.be>" style="color:#0052e2;" >support team</a> for help.</p>

                                </td>
                            </tr>
                        </table>

                    </td>
                </tr>
                <tr>
                    <td align="center" style="word-break:break-word;font-family:'Museo', sans-serif;font-size:16px;line-height:24px;" >

                        <table class="ms-footer" width="640" cellpadding="0" cellspacing="0" role="presentation" style="border-collapse:collapse;width:640px;margin-top:0;margin-bottom:0;margin-right:auto;margin-left:auto;" >
                            <tr>
                                <td class="ms-content-body" align="center" style="word-break:break-word;font-family:'Museo', sans-serif;font-size:16px;line-height:24px;padding-top:40px;padding-bottom:40px;padding-right:50px;padding-left:50px;" >
<!--                                    <p class="small" style="margin-top:20px;margin-bottom:20px;margin-right:0;margin-left:0;color:#96a2b3;font-size:14px;line-height:21px;" >&copy; 2020 {{account.name}}. All rights reserved.</p>-->
                                    <p class="small" style="margin-top:20px;margin-bottom:20px;margin-right:0;margin-left:0;color:#96a2b3;font-size:14px;line-height:21px;" >
                                        Craenevenne 47.
                                        <br>3600, Genk
                                        <br>Belgium
                                    </p>
                                </td>
                            </tr>
                        </table>

                    </td>
                </tr>
            </table>

        </td>
    </tr>
</table>

</body>
</html>