{% load static %}
<section class="ftco-section ftco-intro about-me-section" style="background-image: url({% static 'images/circle.webp' %});">
    <div class="overlay"></div>
    <div class="container">
        <div class="row justify-content-end">
            <div class="col-md-6">
                <div class="heading-section ftco-animate">
                    <h2 class="mb-4">About</h2>
                </div>
                <p class="ftco-animate">
                    Hi! I am Camila
                </p>
                <p class="ftco-animate">
                    I came into contact with yoga at a young age.
                    Inspired by my mother, I started following classes to improve my way of dealing with stress.
                    In 2007 I followed my first Vinyasa class, and since then I am devoted to the spiritual value of Yoga.
                    A few years later I added Ashtanga to my curriculum, that led me to the decision of becoming a Yoga teacher in 2018 and achieve my 200 hours of Vinyasa certificate.
                    My classes are a combination of challenging poses with stretch exercises and a relaxing cool-down as outro.
                    My goal in the classes is to radiate the same positive and energetic vibes as I experience as a Yogi.
                </p>

            </div>
        </div>
    </div>
</section>