{% load static %}
<section class="ftco-section ftco-intro">
    <link rel="stylesheet" href="{% static 'css/timeline_style.css' %}">
    <div class="container">
        <div class="row justify-content-end">
            <div class="col-md-6 mb-3">
                <div class="heading-section ftco-animate">
                    <h2 class="mb-4">Account Details</h2>
                </div>
                <div class="row ftco-animate">
                    <div class="col-md-8">
                        <a style="font-size:26px;">Hello {{name}}</a>
                    </div>
                    <div class="col-md-4 bottom">
                        <a href="{% url 'account_edit' %}" style="font-size: 20px; float: right;">Edit account</a>
                    </div>
                </div>
                <div class="row ftco-animate mt-3 mb-3" hidden>
                    <div class="col-md-8">
                        <a style="font-size:22px;">Lesson Credits: {{credits}}</a>
                    </div>
                    <div class="col-md-4 bottom">
                        <a href="#" style="font-size: 20px; float: right; background: #d3d3d3">Buy Credits</a>
                    </div>
                </div>
<!--                <ul class="mt-5 do-list">-->
<!--                    <div class="custom-control custom-checkbox ftco-animate">-->
<!--                        <input type="checkbox" class="custom-control-input" id="customSwitches">-->
<!--                        <label class="custom-control-label" for="customSwitches">emails on reservation</label>-->
<!--                    </div>-->
<!--                </ul>-->

                <div class="ftco-animate bottom mt-3">
                    <a href="{% url 'account_logout' %}" class="">Logout</a>
                </div>
            </div>
            <div class="col-md-6 scroll" id="upcoming_classes">
                <div class="wrapper">
                </div>
            </div>
        </div>
    </div>
</section>

<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/account.js' %}"></script>