{% load static %}
<section class="ftco-section bg-light">
  <div class="container">
    <div class="row justify-content-center mb-5 pb-3">
      <div class="col-md-7 heading-section ftco-animate text-center">
        <h3 class="subheading">Blog</h3>
        <h2 class="mb-1">Recent Posts</h2>
      </div>
    </div>
    <div class="row d-flex">
      <div class="col-md-4 d-flex ftco-animate">
        <div class="blog-entry justify-content-end">
          <a href="blog-single.html" class="block-20" style="background-image: url({% static 'images/image_1.jpg' %});">
          </a>
          <div class="text p-4 float-right d-block">
            <div class="d-flex align-items-center pt-2 mb-4">
                <div class="one">
                    <span class="day">31</span>
                </div>
                <div class="two">
                    <span class="yr">2018</span>
                    <span class="mos">December</span>
                </div>
            </div>
            <h3 class="heading mt-2"><a href="#">Young Women Doing Yoga</a></h3>
            <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 d-flex ftco-animate">
        <div class="blog-entry justify-content-end">
          <a href="blog-single.html" class="block-20" style="background-image: url({% static 'images/image_2.jpg' %});">
          </a>
          <div class="text p-4 float-right d-block">
            <div class="d-flex align-items-center pt-2 mb-4">
                <div class="one">
                    <span class="day">27</span>
                </div>
                <div class="two">
                    <span class="yr">2018</span>
                    <span class="mos">December</span>
                </div>
            </div>
            <h3 class="heading mt-2"><a href="#">Young Women Doing Yoga</a></h3>
            <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 d-flex ftco-animate">
        <div class="blog-entry">
          <a href="blog-single.html" class="block-20" style="background-image: url({% static 'images/image_3.jpg' %});">
          </a>
          <div class="text p-4 float-right d-block">
            <div class="d-flex align-items-center pt-2 mb-4">
                <div class="one">
                    <span class="day">25</span>
                </div>
                <div class="two">
                    <span class="yr">2018</span>
                    <span class="mos">December</span>
                </div>
            </div>
            <h3 class="heading mt-2"><a href="#">Young Women Doing Yoga</a></h3>
            <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>