{% load static %}
<link rel="stylesheet" href="{% static 'css/calendar_style.css' %}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<section class="ftco-section bg-light">
	<div class="overlay"></div>
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-7 heading-section ftco-animate text-center">
				<h1 class="heading-section">Schedule</h1>
				<h5>Reserved classes can be paid before the class starts</h5>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="content w-100">
					<div class="calendar-container">
						<div class="calendar">
							<div class="year-header">
								<span class="left-button fa fa-chevron-left" id="prev"> </span>
								<span class="year" id="label"></span>
								<span class="right-button fa fa-chevron-right" id="next"> </span>
							</div>
							<table class="months-table w-100">
								<tbody>
								<tr class="months-row">
									<td class="month">Jan</td>
									<td class="month">Feb</td>
									<td class="month">Mar</td>
									<td class="month">Apr</td>
									<td class="month">May</td>
									<td class="month">Jun</td>
									<td class="month">Jul</td>
									<td class="month">Aug</td>
									<td class="month">Sep</td>
									<td class="month">Oct</td>
									<td class="month">Nov</td>
									<td class="month">Dec</td>
								</tr>
								</tbody>
							</table>

							<table class="days-table w-100">
								<td class="day">Sun</td>
								<td class="day">Mon</td>
								<td class="day">Tue</td>
								<td class="day">Wed</td>
								<td class="day">Thu</td>
								<td class="day">Fri</td>
								<td class="day">Sat</td>
							</table>
							<div class="frame">
								<table class="dates-table w-100">
									<tbody class="tbody">
									</tbody>
								</table>
							</div>
							<!--							{% if user.is_superuser %}-->
							<!--							<button class="button" id="add-button">Add Event</button>-->
							<!--							{% endif %}-->
						</div>
					</div>
					<div class="events-container">
					</div>
					<div class="dialog" id="dialog" >
						{% csrf_token %}
						<div id="course-image" style="background-size: cover; height: 50%;"></div>
						<h2 class="course-header" id="course-name"> Course Name </h2>
						<div class="course-info">
							<div class="course-container" align="center">
								<p class="course-description" id="course-description" > Course Description </p>
								<!--								<p class="course-timing" id="course-timing" > Course time </p>-->
								<p class="course-timing" id="course-location" > Course location </p>
								<input type="button" value="Return" class="button button-white" id="cancel-button">
								<input type="button" value="Book" class="button" id="book-button">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/calendar.js' %}"></script>


