{% load static %}
<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-3">
            <div class="col-md-12 heading-section ftco-animate text-center">
                <h3 class="subheading">Yoga Classes</h3>
                <h2 class="mb-1">Something for everyone</h2>
            </div>
        </div>

        <div class="row justify-content-center pb-3 ml-3 mr-3">
            <h6>If you want to replenish your body and socialize with fellow yogis,
                fell free to join us at the end of our classes for drinks and cookies!
                See you on the mat!</h6>
        </div>
        <div class="row no-gutters">
            <div class="col-md-6 col-lg-3">
                <div class="package-program ftco-animate">
                    <a href="{% url 'classes' %}#ashtanga" class="img d-flex justify-content-center align-items-center" style="background-image: url({% static 'images/class_ashtanga.webp' %});">
                        <div class="text p-5 text-center">
                            <h3>Ashtanga Yoga</h3>
                            <p>Want to build strength and flexibility?</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="package-program ftco-animate">
                    <a href="{% url 'classes' %}#slow" class="img d-flex justify-content-center align-items-center" style="background-image: url({% static 'images/class_slow.webp' %});">
                        <div class="text p-5 text-center">
                            <h3>Slow Yoga</h3>
                            <p>Want to enjoy a deep rest?</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="package-program ftco-animate">
                    <a href="{% url 'classes' %}#private" class="img d-flex justify-content-center align-items-center" style="background-image: url({% static 'images/class_private.webp' %});">
                        <div class="text p-5 text-center">
                            <h3>Private Classes</h3>
                            <p>Your goal, our expertise</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="package-program ftco-animate">
                    <a href="{% url 'classes' %}#business" class="img d-flex justify-content-center align-items-center" style="background-image: url({% static 'images/program-4.webp' %});">
                        <div class="text p-5 text-center">
                            <h3>Yoga for Business</h3>
                            <p>Connect your team</p>
                        </div>
                    </a>
                </div>
            </div>

        </div>
    </div>
</section>