{% load static %}
<section class="ftco-section ftco-intro code-ethics-section" style="background-image: url({% static 'images/pachi.webp' %});">
    <div class="overlay"></div>
    <div class="container">
        <div class="col-md-10">
            <div class="heading-section ftco-animate">
                <h2 class="mb-4">The Yoga Space code of ethics:</h2>
            </div>
            <ul class="mt-5 do-list">
                <li class="ftco-animate" style="font-size: 16px;"><span class="ion-ios-checkmark-circle mr-3"></span>Respect for all individuals, regardless of background, beliefs or abilities</li>
                <li class="ftco-animate" style="font-size: 16px;"><span class="ion-ios-checkmark-circle mr-3"></span>Provide safe, inclusive and non-judgmentral space environment for all participants</li>
                <li class="ftco-animate" style="font-size: 16px;"><span class="ion-ios-checkmark-circle mr-3"></span>Ensure that everyone is free to express their physical & emotional needs & boundaries, with an open and free communication</li>
                <li class="ftco-animate" style="font-size: 16px;"><span class="ion-ios-checkmark-circle mr-3"></span>Build a save community where peers can feel save, heard and seen</li>
                <li class="ftco-animate" style="font-size: 16px;"><span class="ion-ios-checkmark-circle mr-3"></span>Consciously create space for development within one self, fosterin a culture of continous learning</li>
            </ul>
            <p class="ftco-animate">
                Our code of ethics is a reflection of our values and our commitment to creating a space where everyone feel welcome, respected and safe.
                We are all humans and may fall short sometimes, so we are always open to feedback and eager to improve.
                If you ever feel that these values are not hold, we welcome your thoughts and feedback with open hearts and minds.
            </p>


             <p class="ftco-animate">Thank you for being part of our community and helping us to make it even better.</p>
             <p class="ftco-animate">With love,</p>
             <p class="ftco-animate">Camila</p>

        </div>
    </div>
</section>