{% load static %}
<section class="ftco-section contact-section">
    <div class="container">
        <div class="row block-9">
            <div class="col-md-4 contact-info ftco-animate bg-light p-4">
                <div class="row">
                    <div class="col-md-12 mb-4">
                        <h2 class="h4">Contact Information</h2>
                    </div>
                    <div class="col-md-12 mb-3">
                        <p style="color: #a82106"><span>Address:</span> Craenevenne 47, 3600 Genk</p>
                    </div>
                    <div class="col-md-12 mb-3">
                        <p><span>Phone:</span> <a style="color: #a82106" href="tel://0032492184496">+ 32 492 18 44 96</a></p>
                    </div>
                    <div class="col-md-12 mb-3">
                        <p><span>Email:</span> <a style="color: #a82106" href="mailto:camila@yogaspace.be">camila@yogaspace.be</a></p>
                    </div>
                    <div class="col-md-12 mb-3">
                        <p><span>Website:</span> <a style="color: #a82106" href="{% url 'index' %}">yogaspace.be</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-6 ftco-animate">
                <form action="{% url 'send_form' %}" method="post" class="contact-form">
                    {% csrf_token %}
                    <div class="row">
<!--                        <div class="col-md-6">-->
<!--                            <div class="form-group">-->
<!--                                <input id="name" name="name" type="text" class="form-control" placeholder="Your Name">-->
<!--                            </div>-->
<!--                        </div>-->
                        <div class="col-md-12">
                            <div class="form-group">
                                <input id="sender" name="sender" type="email" class="form-control" autocomplete="email" required="" placeholder="Your Email" value={{ form.sender.value }}>
                                {{ form.sender.errors | safe }}
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input id="subject" name="subject" type="text" class="form-control" placeholder="Subject" value={{ form.subject.value }}>
                        {{ form.subject.errors | safe }}
                    </div>
                    <div class="form-group">
                        <textarea id="message" name="message" cols="30" rows="7" class="form-control" placeholder="Message">{{ form.message.value }}</textarea>
                        {{ form.message.errors | safe }}
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input id="submit" type="submit" value="Send Message" class="btn btn-primary py-6 px-3" style="font-size: 20px; color: #a82106; opacity: 0.7; font-size: 18px'" >
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-check">
                                    {{ form.cc_myself }}

<!--                                <input class="form-check-input" type="checkbox" value="" id="id_cc_myself" name="cc_myself">-->
                                <label class="form-check-label" for="cc_myself">
                                    Send me a copy
                                </label>
                            </div>
                        </div>
                    </div>
                    {{ form.captcha }}
                </form>
            </div>
        </div>
    </div>
</section>

<script src="{% static 'js/jquery.min.js' %}"></script>