{% load static %}
<section id="slow" class="ftco-section ftco-intro text-left-section" style="background-image: url({% static 'images/classes/class08.webp' %});">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="heading-section ftco-animate">
                    <h2 class="mb-4">Slow Yoga</h2>
                </div>
                <p class="ftco-animate">
                    Slow yoga is design to let go of all stress created throughout the day and start your evening relaxed.
                    To unlock the tensions created on our body, we combine breath and movement.
                    This gentle Vinyasa style, lets us begin centering in ourselves, and allows the flow of fresh energy.
                    The class is finished with few minutes of full relaxation and some after tea time to complete the journey on stress release.
                </p>
            </div>
        </div>
    </div>
</section>