{% load static %}
<section id="business" class="ftco-section ftco-intro text-right-section" style="background-image: url({% static 'images/classes/class07.webp' %});">
    <div class="overlay"></div>
    <div class="container">
        <div class="row justify-content-end">
            <div class="col-md-6">
                <div class="heading-section ftco-animate">
                    <h2 class="mb-4">Business Classes</h2>
                </div>
                <p class="ftco-animate">
                    It is well known that a yoga practice and meditation can reduce stress and increase productivity, contributing an overall feeling of well-being.
                    Providing a regular yoga class in your company will help create a calm, creative and motivated team.
                    We offer weekly classes, workshops and team buildings, so you can integrate yoga and meditation into your work environment.
                </p>

            </div>
        </div>
    </div>
</section>