{% load static %}
<section id="private" class="ftco-section ftco-intro text-left-section" style="background-image: url({% static 'images/classes/class03.webp' %});">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="heading-section ftco-animate">
                    <h2 class="mb-4">Private Classes</h2>
                </div>
                <p class="ftco-animate">
                    If you are looking for a one-on-one experince with a dedicated instructor.
                    We provide private classes tailored to each student's needs, limitations
                    Creating a unique and personalized yoga practice to move the student towards a specific goal
                </p>
                <p class="ftco-animate">
                    We also provide small group yoga (min 2 max 5 people) if you want to enjoy a moment together with special ones.
                    Any desired yogastyle (ashtanga, vinyasa, hatha, slow, yin) is possible.
                    The lesson could be at your home or at our dedicated studio for small groups.
                </p>
            </div>
        </div>
    </div>
</section>