{% load static %}
<section class="ftco-section ftco-intro text-right-section" style="background-image: url({% static 'images/classes/class09.webp' %});">
    <div class="overlay"></div>
    <div class="container">
        <div class="row justify-content-end">
            <div class="col-md-6">
                <div class="heading-section ftco-animate">
                    <h2 class="mb-4">Vinyasa Yoga</h2>
                </div>
                <p class="ftco-animate">
                    Also called flow yoga, Vinyasa class is mainly based on meditation in motion.
                    The postures follow each other in a flowing sequence where the body and mind connects.
                    In this class you will build awarness , strength and balance.
                    The lesson can vary in intensity and intense postures, improving your ability to concentrate when thing get challenging.
                </p>

            </div>
        </div>
    </div>
</section>