{% load static %}
<section id="ashtanga" class="ftco-section ftco-intro text-right-section" style="background-image: url({% static 'images/classes/class06.webp' %});">
    <div class="overlay"></div>
    <div class="container">
        <div class="row justify-content-end">
            <div class="col-md-6">
                <div class="heading-section ftco-animate">
                    <h2 class="mb-4">Ashtanga Yoga</h2>
                </div>
                <p class="ftco-animate">
                    Ashtanga Yoga is a powerful class in which we work on a sequence of asanas (postures) to build a light, strong and stable body.
                    This dynamic and fluid class is based on the fundamental principles of breath and Vinyasa (flow movement).
                    Even though this style is very energetic, it has a very introspective aspect which requires focus.
                    This dedicated ashtanga place, is an adaptation from the original practice, where the sequence is tailored to the individual needs,
                    and can be accessible to everyone, regardless of age and physical skills.
                </p>

            </div>
        </div>
    </div>
</section>