{% load static %}
<section id="mysore" class="ftco-section ftco-intro text-left-section" style="background-image: url({% static 'images/classes/class10.webp' %});">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="heading-section ftco-animate">
                    <h2 class="mb-4">Mysore Style Ashtanga</h2>
                </div>
                <p class="ftco-animate">
                    Based on Ashtanga Yoga, Students practice together in the same room, at their own pace, with one-on-one guidance from the teacher as needed.
                    The practice is tailored to the particular needs and skills of the practitioner.
                    This class is suitable for all levels, from beginners to experienced practitioners.
                </p>
            </div>
        </div>
    </div>
</section>