<footer class="ftco-footer ftco-section img">
    <div class="overlay"></div>
  <div class="container">
    <div class="row mb-5">
        <div class="col-lg-3 col-md-6 mb-5 mb-md-5 ftco-animate">
        <div class="ftco-footer-widget mb-4">
          <h1 class="logo">Yoga Space</h1>
        </div>
      </div>
      <div class="col-lg col-md-6 mb-5 mb-md-5 ftco-animate">
        <div class="ftco-footer-widget mb-4">
          <h2 class="location">Craenevenne 47, 3600 Genk</h2>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 mb-5 mb-md-5">
        <div class="ftco-footer-widget mb-4">
          <ul class="ftco-footer-social list-unstyled float-md-left float-lft">
            <li class="ftco-animate">
              <a href="https://www.facebook.com/profile.php?id=100089689290374" target="_blank" class="social-item flex-c-m bg1 m-r-5">
                  <i class="fa fa-facebook-f" aria-hidden="true"></i>
              </a>
            </li>

            <li class="ftco-animate">
              <a href="https://www.instagram.com/yogaspace.be/" target="_blank" class="social-item flex-c-m bg3 m-r-5">
                  <i class="fa fa-instagram" aria-hidden="true"></i>
              </a>
            </li>

          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>