{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar ftco-navbar-light" id="ftco-navbar">
	<div class="container">
		<a class="navbar-brand" href="{% url 'index' %}">
			<img src="{% static 'images/logo.svg' %}" alt="logo" height="50px" width="50px">
			Yoga Space {{base_dir}}
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="oi oi-menu"></span> Menu
		</button>
		<div class="collapse navbar-collapse" id="ftco-nav">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item {% if request.resolver_match.view_name == 'index' %}active{% endif %}"><a href="{% url 'index' %}" class="nav-link">Home</a></li>
				<li class="nav-item {% if request.resolver_match.view_name == 'schedule' %}active{% endif %}"><a href="{% url 'schedule' %}" class="nav-link">Schedule</a></li>
				<li class="nav-item {% if request.resolver_match.view_name == 'classes' %}active{% endif %}"><a href="{% url 'classes' %}" class="nav-link">Classes</a></li>
				<li class="nav-item {% if request.resolver_match.view_name == 'pricing' %}active{% endif %}"><a href="{% url 'pricing' %}" class="nav-link">Prices</a></li>
				<li class="nav-item {% if request.resolver_match.view_name == 'about' %}active{% endif %}"><a href="{% url 'about' %}" class="nav-link">About</a></li>
				<li class="nav-item {% if request.resolver_match.view_name == 'contact' %}active{% endif %}"><a href="{% url 'contact' %}" class="nav-link">Contact</a></li>
				<li class="nav-item ">{% if user.is_authenticated %}<a href="{% url 'account_overview' %}" class="nav-link">My account</a>{% else %}<a href="{% url 'account_login' %}" class="nav-link">Log in</a>{% endif %}</li>
			</ul>
		</div>
	</div>
</nav>