{% load static %}
<section class="ftco-section bg-light">
    <div class="overlay"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-9 text-center mb-3">
                <h1 class="heading-section">Our Classes</h1>
                <p style="font-size: 20px;">
                    If you want to replenish your body and socialize with fellow yogis,
                    fell free to join us at the end of our classes for drinks and cookies!
                    See you on the mat!
                </p>
                <hr>

                <h2 class="heading-section">Starting with Yoga?</h2>
                <p style="font-size: 20px;">
                    There is a first time for everything, no need for stress.
                    At the Yogaspace we welcome students of all levels, just make sure you check the following:
                </p>

                <ul class="mt-5 do-list">
                    <li class="ftco-animate" style="font-size: 16px;"><span class="ion-ios-checkmark-circle mr-3"></span>Wear comfortable clothes, avoid tight clothing because we are going to move.</li>
                    <li class="ftco-animate" style="font-size: 16px;"><span class="ion-ios-checkmark-circle mr-3"></span>We have extra mats but you are more comfortable with your own mat.</li>
                    <li class="ftco-animate" style="font-size: 16px;"><span class="ion-ios-checkmark-circle mr-3"></span>If you have limitations or injuries, let us know so we can adjust.</li>
                    <li class="ftco-animate" style="font-size: 16px;"><span class="ion-ios-checkmark-circle mr-3"></span>Listen to your body, practice at your own pace and abilities.</li>
                    <li class="ftco-animate" style="font-size: 16px;"><span class="ion-ios-checkmark-circle mr-3"></span>Respect other practitioners, yoga studios are peaceful spaces.</li>
                    <li class="ftco-animate" style="font-size: 16px;"><span class="ion-ios-checkmark-circle mr-3"></span>Our space is clean, let's keep it clean.</li>
                </ul>
            </div>
        </div>
    </div>
</section>