{% load static %}
<section class="hero-wrap js-fullheight intro-home-section" style="background-image: url({% static 'images/camila01.webp' %});">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-start">
      <div class="col-md-8">
        <div class="col-md-12 ftco-animate">
          <h1 class="typewrite mb-5" data-period="4000" data-type='["Yoga for all", "Practice with purpose", "Breath, Move, Transform"]'>
            <span class="wrap"></span>
          </h1>
          <h4 class="mb-5">Discover your inner peace and strength at our Yoga Space</h4>
        </div>
        <p><a href="{% url 'schedule' %}" style="font-size: 20px; border-radius: 10%; opacity: 0.7;" class="btn btn-primary p-3 px-4">Find your class</a></p>
      </div>
    </div>
  </div>
</section>