{% load static %}
<section class="ftco-gallery ftco-section">
<div class="container">
    <div class="row justify-content-center mb-5 pb-3">
  <div class="col-md-7 heading-section ftco-animate text-center">
    <h3 class="subheading">Gallery</h3>
    <h2 class="mb-1">See the latest photos</h2>
  </div>
</div>
    <div class="row">
            <div class="col-md-3 ftco-animate">
                <a href="{% static 'images/gallery-1.jpg' %}" class="gallery image-popup img d-flex align-items-center" style="background-image: url({% static 'images/gallery-1.jpg' %});">
                    <div class="icon mb-4 d-flex align-items-center justify-content-center">
                    <span class="icon-instagram"></span>
                </div>
                </a>
            </div>
            <div class="col-md-3 ftco-animate">
                <a href="{% static 'images/gallery-2.jpg' %}" class="gallery image-popup img d-flex align-items-center" style="background-image: url({% static 'images/gallery-2.jpg' %});">
                    <div class="icon mb-4 d-flex align-items-center justify-content-center">
                    <span class="icon-instagram"></span>
                </div>
                </a>
            </div>
            <div class="col-md-3 ftco-animate">
                <a href="{% static 'images/gallery-3.jpg' %}" class="gallery image-popup img d-flex align-items-center" style="background-image: url({% static 'images/gallery-3.jpg' %});">
                    <div class="icon mb-4 d-flex align-items-center justify-content-center">
                    <span class="icon-instagram"></span>
                </div>
                </a>
            </div>
            <div class="col-md-3 ftco-animate">
                <a href="{% static 'images/gallery-4.jpg' %}" class="gallery image-popup img d-flex align-items-center" style="background-image: url({% static 'images/gallery-4.jpg' %});">
                    <div class="icon mb-4 d-flex align-items-center justify-content-center">
                    <span class="icon-instagram"></span>
                </div>
                </a>
            </div>
</div>
</div>
</section>