<section class="ftco-section bg-light">
  <div class="container">
    <div class="row justify-content-center mb-5 pb-3">
      <div class="col-md-7 heading-section ftco-animate text-center">
                <h1 class="heading-section">Pricing</h1>
			<h5>Payments accepted in cash or QR code</h5>
      </div>
    </div>
    <div class="row">
        <div class="col-md-3 ftco-animate">
          <div class="block-7">
            <div class="text-center">
            <h2 class="heading">Try-out Class</h2>
            <span class="price"><sup>€</sup> <span class="number">5</span></span>
            <span class="excerpt d-block">Only once</span>

            <h3 class="heading-2 my-4">Introduction</h3>

            <ul class="pricing-text mb-5">
              <li>Ashtanga Yoga</li>
              <li>or</li>
              <li>Soft Yoga</li>
            </ul>

<!--            <a href="#" class="btn btn-primary d-block px-2 py-4">Get Started</a>-->
            </div>
          </div>
        </div>
        <div class="col-md-3 ftco-animate">
          <div class="block-7">
            <div class="text-center">
            <h2 class="heading">Single Class</h2>
            <span class="price"><sup>€</sup> <span class="number">12</span></span>
            <span class="excerpt d-block">For 1 Class</span>

            <h3 class="heading-2 my-4">Regular Price</h3>

            <ul class="pricing-text mb-5">
              <li>Ashtanga Yoga</li>
              <li>or</li>
              <li>Soft Yoga</li>
            </ul>

<!--            <a href="#" class="btn btn-primary d-block px-2 py-4">Get Started</a>-->
            </div>
          </div>
        </div>
        <div class="col-md-3 ftco-animate">
          <div class="block-7">
            <div class="text-center">
            <h2 class="heading">Day Card</h2>
            <span class="price"><sup>€</sup> <span class="number">20</span></span>
            <span class="excerpt d-block">For 1 Day</span>

            <h3 class="heading-2 my-4">Become zen</h3>

            <ul class="pricing-text mb-5">
              <li>Ashtanga Yoga</li>
              <li>and</li>
              <li>Soft Yoga</li>
            </ul>
<!--            <a href="#" class="btn btn-primary d-block px-2 py-4">Get Started</a>-->
            </div>
          </div>
        </div>
        <div class="col-md-3 ftco-animate">
          <div class="block-7">
            <div class="text-center">
            <h2 class="heading">Events</h2>
            <span class="price"><sup></sup> <a href="{% url 'contact' %}" class="btn text mt-2 mb-2">Contact</a></span>
            <span class="excerpt d-block">On demand</span>

            <h3 class="heading-2 my-4">Enjoy All Features</h3>

            <ul class="pricing-text mb-5">
              <li>Group Classes</li>
              <li>Yoga Workshop</li>
              <li>Private Classes</li>
            </ul>
<!--            <a href="#" class="btn btn-primary d-block px-2 py-4">Get Started</a>-->
            </div>
          </div>
        </div>
      </div>
  </div>
</section>