<section class="ftco-section d-md-flex bg-light">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10 text-center">
                <h2 style="font-size: 40px;">Inhale the future, exhale the past.</h2>
            </div>
        </div>
    </div>
</section>